# Import Libraries

In [187]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 
import category_encoders as ce

# Load Data

In [188]:
df= pd.read_csv("C:/Users/Ram/Downloads/train.csv")

In [189]:
df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [190]:
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [191]:
df.shape

(1460, 81)

# Data Exploration

# Count missing values in each column

In [192]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     588 non-null    object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

In [193]:
df.isnull().sum()

Id                 0
MSSubClass         0
MSZoning           0
LotFrontage      259
LotArea            0
                ...
MoSold             0
YrSold             0
SaleType           0
SaleCondition      0
SalePrice          0
Length: 81, dtype: int64

In [194]:
df["PoolQC"].isna().sum()

1453

# Feature Engineering

Check fields with large missing data from the description:


*   PoolQC means Pool Quality and NA means No Pool (it is not a missing value and it will impact the peroformance). You will notice that values are (Ex	Excellent, Gd	Good, TA	Average/Typical, Fa	Fair, NA	No Pool). The order here make sense
*   Find and replace is the best approach in this case

In [195]:
# create a dictionary use table names and values

In [196]:
df["PoolQC"].value_counts()

PoolQC
Gd    3
Ex    2
Fa    2
Name: count, dtype: int64

In [197]:
df["PoolQC"].fillna("No Pool",inplace=True)
df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,No Pool,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,No Pool,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,No Pool,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,No Pool,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,No Pool,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,No Pool,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,No Pool,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,No Pool,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,No Pool,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,No Pool,NaN,NaN,0,6,2008,WD,Normal,147500

In [198]:
pool_mapping = {'Ex': 4, 'Gd': 3, 'TA': 2, 'Fa': 1, 'No Pool': 0}
df['PoolQC_encoded'] = df['PoolQC'].map(pool_mapping)
df.drop("PoolQC",axis=1, inplace=True)

In [199]:
df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice,PoolQC_encoded
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,0,2,2008,WD,Normal,208500,0
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,0,5,2007,WD,Normal,181500,0
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,0,9,2008,WD,Normal,223500,0
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,0,2,2006,WD,Abnorml,140000,0
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,0,12,2008,WD,Normal,250000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,0,8,2007,WD,Normal,175000,0
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,MnPrv,NaN,0,2,2010,WD,Normal,210000,0
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,GdPrv,Shed,2500,5,2010,WD,Normal,266500,0
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,0,4,2010,WD,Normal,142125,0
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,0,6,2008,WD,Normal,147500,0

In [200]:
df.tail()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice,PoolQC_encoded
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,0,8,2007,WD,Normal,175000,0
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,MnPrv,NaN,0,2,2010,WD,Normal,210000,0
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,GdPrv,Shed,2500,5,2010,WD,Normal,266500,0
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,0,4,2010,WD,Normal,142125,0
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,0,6,2008,WD,Normal,147500,0

In [201]:
df["MiscFeature"].value_counts()

MiscFeature
Shed    49
Gar2     2
Othr     2
TenC     1
Name: count, dtype: int64

In [202]:
df["MiscFeature"].fillna("Shed",inplace=True)
df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice,PoolQC_encoded
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,Shed,0,2,2008,WD,Normal,208500,0
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,Shed,0,5,2007,WD,Normal,181500,0
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,Shed,0,9,2008,WD,Normal,223500,0
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,Shed,0,2,2006,WD,Abnorml,140000,0
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,Shed,0,12,2008,WD,Normal,250000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,Shed,0,8,2007,WD,Normal,175000,0
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,MnPrv,Shed,0,2,2010,WD,Normal,210000,0
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,GdPrv,Shed,2500,5,2010,WD,Normal,266500,0
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,Shed,0,4,2010,WD,Normal,142125,0
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,Shed,0,6,2008,WD,Normal,147500,0

In [203]:
import sklearn

In [205]:
encoder = ce.OneHotEncoder(cols=['MiscFeature'])

In [206]:
encoder

OneHotEncoder(cols=['MiscFeature'])

In [207]:
df=encoder.fit_transform(df)
df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,MiscFeature_2,MiscFeature_3,MiscFeature_4,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice,PoolQC_encoded
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,0,0,0,2,2008,WD,Normal,208500,0
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,0,0,0,5,2007,WD,Normal,181500,0
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,0,0,0,9,2008,WD,Normal,223500,0
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,0,0,0,2,2006,WD,Abnorml,140000,0
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,0,0,0,12,2008,WD,Normal,250000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,0,0,0,8,2007,WD,Normal,175000,0
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,0,0,0,2,2010,WD,Normal,210000,0
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,0,0,2500,5,2010,WD,Normal,266500,0
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,0,0,0,4,2010,WD,Normal,142125,0
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,0,0,0,6,2008,WD,Normal,147500,0


*   MiscFeature includes: Elev	Elevator, Gar2	2nd Garage (if not
described in garage section), Othr	Other, Shed	Shed (over 100 SF), TenC	Tennis Court, NA	None
*    Replacing NA with the most frequent term does not make sense here
*    We can use None as a separate category
*    One hot encoding will be a good choice here

In [208]:
df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,MiscFeature_2,MiscFeature_3,MiscFeature_4,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice,PoolQC_encoded
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,0,0,0,2,2008,WD,Normal,208500,0
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,0,0,0,5,2007,WD,Normal,181500,0
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,0,0,0,9,2008,WD,Normal,223500,0
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,0,0,0,2,2006,WD,Abnorml,140000,0
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,0,0,0,12,2008,WD,Normal,250000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,0,0,0,8,2007,WD,Normal,175000,0
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,0,0,0,2,2010,WD,Normal,210000,0
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,0,0,2500,5,2010,WD,Normal,266500,0
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,0,0,0,4,2010,WD,Normal,142125,0
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,0,0,0,6,2008,WD,Normal,147500,0

Alley: Type of alley access to property. The field values are defined as:
*   Grvl	Gravel
*   Pave	Paved
*   NA 	No alley access

Similar to MiscFeature, we can use None as a separate category and One hot encoding will be a good choice here

In [209]:
df["Alley"].value_counts()

Alley
Grvl    50
Pave    41
Name: count, dtype: int64

In [210]:
df["Alley"].isna().sum()

1369

In [211]:
df["Alley"].fillna("No alley",inplace=True)

In [212]:
df["Alley"].isna().sum()

0

In [213]:
o_encoder = ce.OneHotEncoder(cols=['Alley'])

In [214]:
df=o_encoder.fit_transform(df)
df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley_1,Alley_2,Alley_3,LotShape,...,MiscFeature_2,MiscFeature_3,MiscFeature_4,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice,PoolQC_encoded
0,1,60,RL,65.0,8450,Pave,1,0,0,Reg,...,0,0,0,0,2,2008,WD,Normal,208500,0
1,2,20,RL,80.0,9600,Pave,1,0,0,Reg,...,0,0,0,0,5,2007,WD,Normal,181500,0
2,3,60,RL,68.0,11250,Pave,1,0,0,IR1,...,0,0,0,0,9,2008,WD,Normal,223500,0
3,4,70,RL,60.0,9550,Pave,1,0,0,IR1,...,0,0,0,0,2,2006,WD,Abnorml,140000,0
4,5,60,RL,84.0,14260,Pave,1,0,0,IR1,...,0,0,0,0,12,2008,WD,Normal,250000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,1,0,0,Reg,...,0,0,0,0,8,2007,WD,Normal,175000,0
1456,1457,20,RL,85.0,13175,Pave,1,0,0,Reg,...,0,0,0,0,2,2010,WD,Normal,210000,0
1457,1458,70,RL,66.0,9042,Pave,1,0,0,Reg,...,0,0,0,2500,5,2010,WD,Normal,266500,0
1458,1459,20,RL,68.0,9717,Pave,1,0,0,Reg,...,0,0,0,0,4,2010,WD,Normal,142125,0
1459,1460,20,RL,75.0,9937,Pave,1,0,0,Reg,...,0,0,0,0,6,2008,WD,Normal,147500,0

Fence: Fence quality.  The field values are defined as
*   GdPrv	Good Privacy
*   MnPrv	Minimum Privacy
*   GdWo	Good Wood
*   MnWw	Minimum Wood/Wire
*   NA	No Fence

We will use the above technique

In [215]:
df["Fence"].unique()

array([nan, 'MnPrv', 'GdWo', 'GdPrv', 'MnWw'], dtype=object)

In [216]:
df["Fence"].fillna("No Fence",inplace=True)

In [217]:
fence_mapping = {'GdPrv': 4, 'MnPrv': 3, 'GdWo': 2, 'MnWw': 1, 'No Fence': 0}
df['Fence_encoded'] = df['Fence'].map(fence_mapping)
df.drop("Fence",axis=1, inplace=True)

In [218]:
df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley_1,Alley_2,Alley_3,LotShape,...,MiscFeature_3,MiscFeature_4,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice,PoolQC_encoded,Fence_encoded
0,1,60,RL,65.0,8450,Pave,1,0,0,Reg,...,0,0,0,2,2008,WD,Normal,208500,0,0
1,2,20,RL,80.0,9600,Pave,1,0,0,Reg,...,0,0,0,5,2007,WD,Normal,181500,0,0
2,3,60,RL,68.0,11250,Pave,1,0,0,IR1,...,0,0,0,9,2008,WD,Normal,223500,0,0
3,4,70,RL,60.0,9550,Pave,1,0,0,IR1,...,0,0,0,2,2006,WD,Abnorml,140000,0,0
4,5,60,RL,84.0,14260,Pave,1,0,0,IR1,...,0,0,0,12,2008,WD,Normal,250000,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,1,0,0,Reg,...,0,0,0,8,2007,WD,Normal,175000,0,0
1456,1457,20,RL,85.0,13175,Pave,1,0,0,Reg,...,0,0,0,2,2010,WD,Normal,210000,0,3
1457,1458,70,RL,66.0,9042,Pave,1,0,0,Reg,...,0,0,2500,5,2010,WD,Normal,266500,0,4
1458,1459,20,RL,68.0,9717,Pave,1,0,0,Reg,...,0,0,0,4,2010,WD,Normal,142125,0,0
1459,1460,20,RL,75.0,9937,Pave,1,0,0,Reg,...,0,0,0,6,2008,WD,Normal,147500,0,0

In [219]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 86 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Id              1460 non-null   int64
 1   MSSubClass      1460 non-null   int64
 2   MSZoning        1460 non-null   object
 3   LotFrontage     1201 non-null   float64
 4   LotArea         1460 non-null   int64
 5   Street          1460 non-null   object
 6   Alley_1         1460 non-null   int64
 7   Alley_2         1460 non-null   int64
 8   Alley_3         1460 non-null   int64
 9   LotShape        1460 non-null   object
 10  LandContour     1460 non-null   object
 11  Utilities       1460 non-null   object
 12  LotConfig       1460 non-null   object
 13  LandSlope       1460 non-null   object
 14  Neighborhood    1460 non-null   object
 15  Condition1      1460 non-null   object
 16  Condition2      1460 non-null   object
 17  BldgType        1460 non-null   object
 18  HouseStyle      1460 non-null   object
 19  OverallQual     1460 non-null   int64
 20  OverallCond     1460 non-null   int64
 21  YearBuilt       1460 non-null   int64
 22  YearRemodAdd    1460 non-null   int64
 23  RoofStyle       1460 non-null   object
 24  RoofMatl        1460 non-null   object
 25  Exterior1st     1460 non-null   object
 26  Exterior2nd     1460 non-null   object
 27  MasVnrType      588 non-null    object
 28  MasVnrArea      1452 non-null   float64
 29  ExterQual       1460 non-null   object
 30  ExterCond       1460 non-null   object
 31  Foundation      1460 non-null   object
 32  BsmtQual        1423 non-null   object
 33  BsmtCond        1423 non-null   object
 34  BsmtExposure    1422 non-null   object
 35  BsmtFinType1    1423 non-null   object
 36  BsmtFinSF1      1460 non-null   int64
 37  BsmtFinType2    1422 non-null   object
 38  BsmtFinSF2      1460 non-null   int64
 39  BsmtUnfSF       1460 non-null   int64
 40  TotalBsmtSF     1460 non-null   int64
 41  Heating         1460 non-null   object
 42  HeatingQC       1460 non-null   object
 43  CentralAir      1460 non-null   object
 44  Electrical      1459 non-null   object
 45  1stFlrSF        1460 non-null   int64
 46  2ndFlrSF        1460 non-null   int64
 47  LowQualFinSF    1460 non-null   int64
 48  GrLivArea       1460 non-null   int64
 49  BsmtFullBath    1460 non-null   int64
 50  BsmtHalfBath    1460 non-null   int64
 51  FullBath        1460 non-null   int64
 52  HalfBath        1460 non-null   int64
 53  BedroomAbvGr    1460 non-null   int64
 54  KitchenAbvGr    1460 non-null   int64
 55  KitchenQual     1460 non-null   object
 56  TotRmsAbvGrd    1460 non-null   int64
 57  Functional      1460 non-null   object
 58  Fireplaces      1460 non-null   int64
 59  FireplaceQu     770 non-null    object
 60  GarageType      1379 non-null   object
 61  GarageYrBlt     1379 non-null   float64
 62  GarageFinish    1379 non-null   object
 63  GarageCars      1460 non-null   int64
 64  GarageArea      1460 non-null   int64
 65  GarageQual      1379 non-null   object
 66  GarageCond      1379 non-null   object
 67  PavedDrive      1460 non-null   object
 68  WoodDeckSF      1460 non-null   int64
 69  OpenPorchSF     1460 non-null   int64
 70  EnclosedPorch   1460 non-null   int64
 71  3SsnPorch       1460 non-null   int64
 72  ScreenPorch     1460 non-null   int64
 73  PoolArea        1460 non-null   int64
 74  MiscFeature_1   1460 non-null   int64
 75  MiscFeature_2   1460 non-null   int64
 76  MiscFeature_3   1460 non-null   int64
 77  MiscFeature_4   1460 non-null   int64
 78  MiscVal         1460 non-null   int64
 79  MoSold          1460 non-null   int64
 80  YrSold          1460 non-null   int64
 81  SaleType        1460 non-null   object
 82  SaleCondition   1460 non-null   object
 83  SalePrice       1460 non-null   int64
 84  PoolQC_encoded  1460 non-null   int64
 85  Fence_encoded   1460 non-null   int64
dtypes: float64(3), int64(44), object(39)
memory usage: 981.1+ KB

FireplaceQu: Fireplace quality

       Ex	Excellent - Exceptional Masonry Fireplace
       Gd	Good - Masonry Fireplace in main level
       TA	Average - Prefabricated Fireplace in main living area or Masonry Fireplace in basement
       Fa	Fair - Prefabricated Fireplace in basement
       Po	Poor - Ben Franklin Stove
       NA	No Fireplace


We will use find and replace

In [220]:
df["FireplaceQu"].value_counts()

FireplaceQu
Gd    380
TA    313
Fa     33
Ex     24
Po     20
Name: count, dtype: int64

In [221]:
df["FireplaceQu"].fillna("No Fireplace",inplace=True)

In [222]:
fireplace_mapping = {'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, "Po":1,'No Fireplace': 0}
df['Fireplacequ_encoded'] = df['FireplaceQu'].map(fireplace_mapping)
df.drop("FireplaceQu",axis=1, inplace=True)

In [223]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 86 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Id                   1460 non-null   int64
 1   MSSubClass           1460 non-null   int64
 2   MSZoning             1460 non-null   object
 3   LotFrontage          1201 non-null   float64
 4   LotArea              1460 non-null   int64
 5   Street               1460 non-null   object
 6   Alley_1              1460 non-null   int64
 7   Alley_2              1460 non-null   int64
 8   Alley_3              1460 non-null   int64
 9   LotShape             1460 non-null   object
 10  LandContour          1460 non-null   object
 11  Utilities            1460 non-null   object
 12  LotConfig            1460 non-null   object
 13  LandSlope            1460 non-null   object
 14  Neighborhood         1460 non-null   object
 15  Condition1           1460 non-null   object
 16  Condition2           1460 non-null   object
 17  BldgType             1460 non-null   object
 18  HouseStyle           1460 non-null   object
 19  OverallQual          1460 non-null   int64
 20  OverallCond          1460 non-null   int64
 21  YearBuilt            1460 non-null   int64
 22  YearRemodAdd         1460 non-null   int64
 23  RoofStyle            1460 non-null   object
 24  RoofMatl             1460 non-null   object
 25  Exterior1st          1460 non-null   object
 26  Exterior2nd          1460 non-null   object
 27  MasVnrType           588 non-null    object
 28  MasVnrArea           1452 non-null   float64
 29  ExterQual            1460 non-null   object
 30  ExterCond            1460 non-null   object
 31  Foundation           1460 non-null   object
 32  BsmtQual             1423 non-null   object
 33  BsmtCond             1423 non-null   object
 34  BsmtExposure         1422 non-null   object
 35  BsmtFinType1         1423 non-null   object
 36  BsmtFinSF1           1460 non-null   int64
 37  BsmtFinType2         1422 non-null   object
 38  BsmtFinSF2           1460 non-null   int64
 39  BsmtUnfSF            1460 non-null   int64
 40  TotalBsmtSF          1460 non-null   int64
 41  Heating              1460 non-null   object
 42  HeatingQC            1460 non-null   object
 43  CentralAir           1460 non-null   object
 44  Electrical           1459 non-null   object
 45  1stFlrSF             1460 non-null   int64
 46  2ndFlrSF             1460 non-null   int64
 47  LowQualFinSF         1460 non-null   int64
 48  GrLivArea            1460 non-null   int64
 49  BsmtFullBath         1460 non-null   int64
 50  BsmtHalfBath         1460 non-null   int64
 51  FullBath             1460 non-null   int64
 52  HalfBath             1460 non-null   int64
 53  BedroomAbvGr         1460 non-null   int64
 54  KitchenAbvGr         1460 non-null   int64
 55  KitchenQual          1460 non-null   object
 56  TotRmsAbvGrd         1460 non-null   int64
 57  Functional           1460 non-null   object
 58  Fireplaces           1460 non-null   int64
 59  GarageType           1379 non-null   object
 60  GarageYrBlt          1379 non-null   float64
 61  GarageFinish         1379 non-null   object
 62  GarageCars           1460 non-null   int64
 63  GarageArea           1460 non-null   int64
 64  GarageQual           1379 non-null   object
 65  GarageCond           1379 non-null   object
 66  PavedDrive           1460 non-null   object
 67  WoodDeckSF           1460 non-null   int64
 68  OpenPorchSF          1460 non-null   int64
 69  EnclosedPorch        1460 non-null   int64
 70  3SsnPorch            1460 non-null   int64
 71  ScreenPorch          1460 non-null   int64
 72  PoolArea             1460 non-null   int64
 73  MiscFeature_1        1460 non-null   int64
 74  MiscFeature_2        1460 non-null   int64
 75  MiscFeature_3        1460 non-null   int64
 76  MiscFeature_4        1460 non-null   int64
 77  MiscVal              1460 non-null   int64
 78  MoSold               1460 non-null   int64
 79  YrSold               1460 non-null   int64
 80  SaleType             1460 non-null   object
 81  SaleCondition        1460 non-null   object
 82  SalePrice            1460 non-null   int64
 83  PoolQC_encoded       1460 non-null   int64
 84  Fence_encoded        1460 non-null   int64
 85  Fireplacequ_encoded  1460 non-null   int64
dtypes: float64(3), int64(45), object(38)
memory usage: 981.1+ KB

The last item is the lot frontage (واجهة الشارع).Linear feet of street connected to property.


We may use the median in this case

In [224]:
df["LotFrontage"].unique()

array([ 65.,  80.,  68.,  60.,  84.,  85.,  75.,  nan,  51.,  50.,  70.,
        91.,  72.,  66., 101.,  57.,  44., 110.,  98.,  47., 108., 112.,
        74., 115.,  61.,  48.,  33.,  52., 100.,  24.,  89.,  63.,  76.,
        81.,  95.,  69.,  21.,  32.,  78., 121., 122.,  40., 105.,  73.,
        77.,  64.,  94.,  34.,  90.,  55.,  88.,  82.,  71., 120., 107.,
        92., 134.,  62.,  86., 141.,  97.,  54.,  41.,  79., 174.,  99.,
        67.,  83.,  43., 103.,  93.,  30., 129., 140.,  35.,  37., 118.,
        87., 116., 150., 111.,  49.,  96.,  59.,  36.,  56., 102.,  58.,
        38., 109., 130.,  53., 137.,  45., 106., 104.,  42.,  39., 144.,
       114., 128., 149., 313., 168., 182., 138., 160., 152., 124., 153.,
        46.])

In [225]:
df['LotFrontage'].fillna(df['LotFrontage'].median(), inplace=True)

In [226]:
df["LotFrontage"].isna().sum()

0

In [227]:
df["GarageType"].fillna("No grage",inplace=True)

In [228]:
df["GarageType"].unique()

array(['Attchd', 'Detchd', 'BuiltIn', 'CarPort', 'No grage', 'Basment',
       '2Types'], dtype=object)

In [229]:
encoder2 = ce.OneHotEncoder(cols=['GarageType'])
df=encoder2.fit_transform(df)
df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley_1,Alley_2,Alley_3,LotShape,...,MiscFeature_4,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice,PoolQC_encoded,Fence_encoded,Fireplacequ_encoded
0,1,60,RL,65.0,8450,Pave,1,0,0,Reg,...,0,0,2,2008,WD,Normal,208500,0,0,0
1,2,20,RL,80.0,9600,Pave,1,0,0,Reg,...,0,0,5,2007,WD,Normal,181500,0,0,3
2,3,60,RL,68.0,11250,Pave,1,0,0,IR1,...,0,0,9,2008,WD,Normal,223500,0,0,3
3,4,70,RL,60.0,9550,Pave,1,0,0,IR1,...,0,0,2,2006,WD,Abnorml,140000,0,0,4
4,5,60,RL,84.0,14260,Pave,1,0,0,IR1,...,0,0,12,2008,WD,Normal,250000,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,1,0,0,Reg,...,0,0,8,2007,WD,Normal,175000,0,0,3
1456,1457,20,RL,85.0,13175,Pave,1,0,0,Reg,...,0,0,2,2010,WD,Normal,210000,0,3,3
1457,1458,70,RL,66.0,9042,Pave,1,0,0,Reg,...,0,2500,5,2010,WD,Normal,266500,0,4,4
1458,1459,20,RL,68.0,9717,Pave,1,0,0,Reg,...,0,0,4,2010,WD,Normal,142125,0,0,0
1459,1460,20,RL,75.0,9937,Pave,1,0,0,Reg,...,0,0,6,2008,WD,Normal,147500,0,0,0

In [230]:
df["MasVnrArea"].fillna(df['MasVnrArea'].median(), inplace=True)

In [231]:
df["Electrical"].value_counts()

Electrical
SBrkr    1334
FuseA      94
FuseF      27
FuseP       3
Mix         1
Name: count, dtype: int64

In [232]:
df["Electrical"].fillna("SBrkr",inplace=True)

In [233]:
E_encoder = ce.OneHotEncoder(cols=['Electrical'])
df=E_encoder.fit_transform(df)

In [234]:
df["MasVnrType"].fillna("No Masvn",inplace=True)

In [235]:
df["MasVnrType"].unique()

array(['BrkFace', 'No Masvn', 'Stone', 'BrkCmn'], dtype=object)

In [236]:
M_encoder = ce.OneHotEncoder(cols=['MasVnrType'])
df=M_encoder.fit_transform(df)

In [237]:
df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley_1,Alley_2,Alley_3,LotShape,...,MiscFeature_4,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice,PoolQC_encoded,Fence_encoded,Fireplacequ_encoded
0,1,60,RL,65.0,8450,Pave,1,0,0,Reg,...,0,0,2,2008,WD,Normal,208500,0,0,0
1,2,20,RL,80.0,9600,Pave,1,0,0,Reg,...,0,0,5,2007,WD,Normal,181500,0,0,3
2,3,60,RL,68.0,11250,Pave,1,0,0,IR1,...,0,0,9,2008,WD,Normal,223500,0,0,3
3,4,70,RL,60.0,9550,Pave,1,0,0,IR1,...,0,0,2,2006,WD,Abnorml,140000,0,0,4
4,5,60,RL,84.0,14260,Pave,1,0,0,IR1,...,0,0,12,2008,WD,Normal,250000,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,1,0,0,Reg,...,0,0,8,2007,WD,Normal,175000,0,0,3
1456,1457,20,RL,85.0,13175,Pave,1,0,0,Reg,...,0,0,2,2010,WD,Normal,210000,0,3,3
1457,1458,70,RL,66.0,9042,Pave,1,0,0,Reg,...,0,2500,5,2010,WD,Normal,266500,0,4,4
1458,1459,20,RL,68.0,9717,Pave,1,0,0,Reg,...,0,0,4,2010,WD,Normal,142125,0,0,0
1459,1460,20,RL,75.0,9937,Pave,1,0,0,Reg,...,0,0,6,2008,WD,Normal,147500,0,0,0

In [239]:
df["GarageCond"].fillna("No",inplace=True)

In [240]:
G_mapping = {'Ex': 5, 'Gd': 4, 'TA': 3, 'Fa': 2, "Po":1,'No': 0}
df['G_encoded'] = df['GarageCond'].map(G_mapping)
df.drop("GarageCond",axis=1, inplace=True)

In [241]:
df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley_1,Alley_2,Alley_3,LotShape,...,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice,PoolQC_encoded,Fence_encoded,Fireplacequ_encoded,G_encoded
0,1,60,RL,65.0,8450,Pave,1,0,0,Reg,...,0,2,2008,WD,Normal,208500,0,0,0,3
1,2,20,RL,80.0,9600,Pave,1,0,0,Reg,...,0,5,2007,WD,Normal,181500,0,0,3,3
2,3,60,RL,68.0,11250,Pave,1,0,0,IR1,...,0,9,2008,WD,Normal,223500,0,0,3,3
3,4,70,RL,60.0,9550,Pave,1,0,0,IR1,...,0,2,2006,WD,Abnorml,140000,0,0,4,3
4,5,60,RL,84.0,14260,Pave,1,0,0,IR1,...,0,12,2008,WD,Normal,250000,0,0,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,1,0,0,Reg,...,0,8,2007,WD,Normal,175000,0,0,3,3
1456,1457,20,RL,85.0,13175,Pave,1,0,0,Reg,...,0,2,2010,WD,Normal,210000,0,3,3,3
1457,1458,70,RL,66.0,9042,Pave,1,0,0,Reg,...,2500,5,2010,WD,Normal,266500,0,4,4,3
1458,1459,20,RL,68.0,9717,Pave,1,0,0,Reg,...,0,4,2010,WD,Normal,142125,0,0,0,3
1459,1460,20,RL,75.0,9937,Pave,1,0,0,Reg,...,0,6,2008,WD,Normal,147500,0,0,0,3

In [243]:
df["BsmtQual"].isna().sum()

37

In [244]:
df["BsmtQual"].value_counts()

BsmtQual
TA    649
Gd    618
Ex    121
Fa     35
Name: count, dtype: int64

In [245]:
df["BsmtQual"].fillna("TA",inplace=True)

In [246]:
df["BsmtQual"].isna().sum()

0

In [247]:
BsmtQual_mapping = {'Ex': 0, 'Gd': 1, 'TA': 2, 'Fa': 3}
df['BsmtQual'] = df['BsmtQual'].map(BsmtQual_mapping)
df.drop("BsmtQual",axis=1, inplace=True)

In [248]:
df["BsmtCond"].value_counts()

BsmtCond
TA    1311
Gd      65
Fa      45
Po       2
Name: count, dtype: int64

In [249]:
df["BsmtCond"].fillna("TA",inplace=True)

In [250]:
BsmtCond_mapping = {'Po': 0, 'Gd': 1, 'TA': 2, 'Fa': 3}
df['BsmtCond'] = df['BsmtCond'].map(BsmtCond_mapping)
df.drop("BsmtCond",axis=1, inplace=True)

In [251]:
df["BsmtFinType1"].value_counts()

BsmtFinType1
Unf    430
GLQ    418
ALQ    220
BLQ    148
Rec    133
LwQ     74
Name: count, dtype: int64

In [252]:
df["BsmtFinType1"].fillna("Unf",inplace=True)

In [253]:
b_encoder = ce.OneHotEncoder(cols=['BsmtFinType1'])
df=b_encoder.fit_transform(df)

In [254]:
df["BsmtFinType2"].value_counts()

BsmtFinType2
Unf    1256
Rec      54
LwQ      46
BLQ      33
ALQ      19
GLQ      14
Name: count, dtype: int64

In [255]:
df["BsmtFinType2"].fillna("Unf",inplace=True)

In [256]:
b_encoder = ce.OneHotEncoder(cols=['BsmtFinType2'])
df=b_encoder.fit_transform(df)

In [257]:
df["BsmtExposure"].value_counts()

BsmtExposure
No    953
Av    221
Gd    134
Mn    114
Name: count, dtype: int64

In [258]:
df["BsmtExposure"].fillna("No",inplace=True)

In [259]:
Bsmt_mapping = {'No': 0, 'Gd': 1, 'Mn': 2, 'Av': 3}
df['BsmtExposure'] = df['BsmtExposure'].map(Bsmt_mapping)
df.drop("BsmtExposure",axis=1, inplace=True)

In [260]:
df["GarageFinish"].value_counts()

GarageFinish
Unf    605
RFn    422
Fin    352
Name: count, dtype: int64

In [261]:
df["GarageFinish"].fillna("Unf",inplace=True)

In [262]:
g_encoder = ce.OneHotEncoder(cols=['GarageFinish'])
df=g_encoder.fit_transform(df)

In [263]:
df["GarageQual"].value_counts()

GarageQual
TA    1311
Fa      48
Gd      14
Ex       3
Po       3
Name: count, dtype: int64

In [264]:
df["GarageQual"].fillna("TA",inplace=True)

In [265]:
ga_mapping = {'Po': 0, 'Gd': 1, 'TA': 2, 'Fa': 3,"Ex":4}
df['GarageQual'] = df['GarageQual'].map(ga_mapping)
df.drop("GarageQual",axis=1, inplace=True)

In [266]:
df["GarageYrBlt"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1460 entries, 0 to 1459
Series name: GarageYrBlt
Non-Null Count  Dtype
--------------  -----
1379 non-null   float64
dtypes: float64(1)
memory usage: 11.5 KB

In [267]:
df["GarageYrBlt"].value_counts()

GarageYrBlt
2005.0    65
2006.0    59
2004.0    53
2003.0    50
2007.0    49
          ..
1927.0     1
1900.0     1
1906.0     1
1908.0     1
1933.0     1
Name: count, Length: 97, dtype: int64

In [268]:
df["GarageYrBlt"].fillna("2005.0",inplace=True)

In [269]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Columns: 107 entries, Id to G_encoded
dtypes: float64(2), int64(77), object(28)
memory usage: 1.2+ MB

In [270]:
numerical_data= [feature for feature in df.columns if df[feature].dtype !="object"]
numerical_data

['Id',
 'MSSubClass',
 'LotFrontage',
 'LotArea',
 'Alley_1',
 'Alley_2',
 'Alley_3',
 'OverallQual',
 'OverallCond',
 'YearBuilt',
 'YearRemodAdd',
 'MasVnrType_1',
 'MasVnrType_2',
 'MasVnrType_3',
 'MasVnrType_4',
 'MasVnrArea',
 'BsmtFinType1_1',
 'BsmtFinType1_2',
 'BsmtFinType1_3',
 'BsmtFinType1_4',
 'BsmtFinType1_5',
 'BsmtFinType1_6',
 'BsmtFinSF1',
 'BsmtFinType2_1',
 'BsmtFinType2_2',
 'BsmtFinType2_3',
 'BsmtFinType2_4',
 'BsmtFinType2_5',
 'BsmtFinType2_6',
 'BsmtFinSF2',
 'BsmtUnfSF',
 'TotalBsmtSF',
 'Electrical_1',
 'Electrical_2',
 'Electrical_3',
 'Electrical_4',
 'Electrical_5',
 '1stFlrSF',
 '2ndFlrSF',
 'LowQualFinSF',
 'GrLivArea',
 'BsmtFullBath',
 'BsmtHalfBath',
 'FullBath',
 'HalfBath',
 'BedroomAbvGr',
 'KitchenAbvGr',
 'TotRmsAbvGrd',
 'Fireplaces',
 'GarageType_1',
 'GarageType_2',
 'GarageType_3',
 'GarageType_4',
 'GarageType_5',
 'GarageType_6',
 'GarageType_7',
 'GarageFinish_1',
 'GarageFinish_2',
 'GarageFinish_3',
 'GarageCars',
 'GarageArea',
 'WoodDeckSF',
 'OpenPorchSF',
 'EnclosedPorch',
 '3SsnPorch',
 'ScreenPorch',
 'PoolArea',
 'MiscFeature_1',
 'MiscFeature_2',
 'MiscFeature_3',
 'MiscFeature_4',
 'MiscVal',
 'MoSold',
 'YrSold',
 'SalePrice',
 'PoolQC_encoded',
 'Fence_encoded',
 'Fireplacequ_encoded',
 'G_encoded']

In [271]:
df[numerical_data].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 79 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Id                   1460 non-null   int64
 1   MSSubClass           1460 non-null   int64
 2   LotFrontage          1460 non-null   float64
 3   LotArea              1460 non-null   int64
 4   Alley_1              1460 non-null   int64
 5   Alley_2              1460 non-null   int64
 6   Alley_3              1460 non-null   int64
 7   OverallQual          1460 non-null   int64
 8   OverallCond          1460 non-null   int64
 9   YearBuilt            1460 non-null   int64
 10  YearRemodAdd         1460 non-null   int64
 11  MasVnrType_1         1460 non-null   int64
 12  MasVnrType_2         1460 non-null   int64
 13  MasVnrType_3         1460 non-null   int64
 14  MasVnrType_4         1460 non-null   int64
 15  MasVnrArea           1460 non-null   float64
 16  BsmtFinType1_1       1460 non-null   int64
 17  BsmtFinType1_2       1460 non-null   int64
 18  BsmtFinType1_3       1460 non-null   int64
 19  BsmtFinType1_4       1460 non-null   int64
 20  BsmtFinType1_5       1460 non-null   int64
 21  BsmtFinType1_6       1460 non-null   int64
 22  BsmtFinSF1           1460 non-null   int64
 23  BsmtFinType2_1       1460 non-null   int64
 24  BsmtFinType2_2       1460 non-null   int64
 25  BsmtFinType2_3       1460 non-null   int64
 26  BsmtFinType2_4       1460 non-null   int64
 27  BsmtFinType2_5       1460 non-null   int64
 28  BsmtFinType2_6       1460 non-null   int64
 29  BsmtFinSF2           1460 non-null   int64
 30  BsmtUnfSF            1460 non-null   int64
 31  TotalBsmtSF          1460 non-null   int64
 32  Electrical_1         1460 non-null   int64
 33  Electrical_2         1460 non-null   int64
 34  Electrical_3         1460 non-null   int64
 35  Electrical_4         1460 non-null   int64
 36  Electrical_5         1460 non-null   int64
 37  1stFlrSF             1460 non-null   int64
 38  2ndFlrSF             1460 non-null   int64
 39  LowQualFinSF         1460 non-null   int64
 40  GrLivArea            1460 non-null   int64
 41  BsmtFullBath         1460 non-null   int64
 42  BsmtHalfBath         1460 non-null   int64
 43  FullBath             1460 non-null   int64
 44  HalfBath             1460 non-null   int64
 45  BedroomAbvGr         1460 non-null   int64
 46  KitchenAbvGr         1460 non-null   int64
 47  TotRmsAbvGrd         1460 non-null   int64
 48  Fireplaces           1460 non-null   int64
 49  GarageType_1         1460 non-null   int64
 50  GarageType_2         1460 non-null   int64
 51  GarageType_3         1460 non-null   int64
 52  GarageType_4         1460 non-null   int64
 53  GarageType_5         1460 non-null   int64
 54  GarageType_6         1460 non-null   int64
 55  GarageType_7         1460 non-null   int64
 56  GarageFinish_1       1460 non-null   int64
 57  GarageFinish_2       1460 non-null   int64
 58  GarageFinish_3       1460 non-null   int64
 59  GarageCars           1460 non-null   int64
 60  GarageArea           1460 non-null   int64
 61  WoodDeckSF           1460 non-null   int64
 62  OpenPorchSF          1460 non-null   int64
 63  EnclosedPorch        1460 non-null   int64
 64  3SsnPorch            1460 non-null   int64
 65  ScreenPorch          1460 non-null   int64
 66  PoolArea             1460 non-null   int64
 67  MiscFeature_1        1460 non-null   int64
 68  MiscFeature_2        1460 non-null   int64
 69  MiscFeature_3        1460 non-null   int64
 70  MiscFeature_4        1460 non-null   int64
 71  MiscVal              1460 non-null   int64
 72  MoSold               1460 non-null   int64
 73  YrSold               1460 non-null   int64
 74  SalePrice            1460 non-null   int64
 75  PoolQC_encoded       1460 non-null   int64
 76  Fence_encoded        1460 non-null   int64
 77  Fireplacequ_encoded  1460 non-null   int64
 78  G_encoded            1460 non-null   int64
dtypes: float64(2), int64(77)
memory usage: 901.2 KB

In [272]:
categorical_data= [feature for feature in df.columns if df[feature].dtype =="object"]
categorical_data

['MSZoning',
 'Street',
 'LotShape',
 'LandContour',
 'Utilities',
 'LotConfig',
 'LandSlope',
 'Neighborhood',
 'Condition1',
 'Condition2',
 'BldgType',
 'HouseStyle',
 'RoofStyle',
 'RoofMatl',
 'Exterior1st',
 'Exterior2nd',
 'ExterQual',
 'ExterCond',
 'Foundation',
 'Heating',
 'HeatingQC',
 'CentralAir',
 'KitchenQual',
 'Functional',
 'GarageYrBlt',
 'PavedDrive',
 'SaleType',
 'SaleCondition']

In [273]:
df[categorical_data].isna().sum()

MSZoning         0
Street           0
LotShape         0
LandContour      0
Utilities        0
LotConfig        0
LandSlope        0
Neighborhood     0
Condition1       0
Condition2       0
BldgType         0
HouseStyle       0
RoofStyle        0
RoofMatl         0
Exterior1st      0
Exterior2nd      0
ExterQual        0
ExterCond        0
Foundation       0
Heating          0
HeatingQC        0
CentralAir       0
KitchenQual      0
Functional       0
GarageYrBlt      0
PavedDrive       0
SaleType         0
SaleCondition    0
dtype: int64

In [274]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()

for column in df.columns:
    if df[column].dtype == 'object':
        df[column] = label_encoder.fit_transform(df[column].astype(str))

In [275]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Columns: 107 entries, Id to G_encoded
dtypes: float64(2), int32(28), int64(77)
memory usage: 1.0 MB

In [276]:
df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley_1,Alley_2,Alley_3,LotShape,...,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice,PoolQC_encoded,Fence_encoded,Fireplacequ_encoded,G_encoded
0,1,60,3,65.0,8450,1,1,0,0,3,...,0,2,2008,8,4,208500,0,0,0,3
1,2,20,3,80.0,9600,1,1,0,0,3,...,0,5,2007,8,4,181500,0,0,3,3
2,3,60,3,68.0,11250,1,1,0,0,0,...,0,9,2008,8,4,223500,0,0,3,3
3,4,70,3,60.0,9550,1,1,0,0,0,...,0,2,2006,8,0,140000,0,0,4,3
4,5,60,3,84.0,14260,1,1,0,0,0,...,0,12,2008,8,4,250000,0,0,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,3,62.0,7917,1,1,0,0,3,...,0,8,2007,8,4,175000,0,0,3,3
1456,1457,20,3,85.0,13175,1,1,0,0,3,...,0,2,2010,8,4,210000,0,3,3,3
1457,1458,70,3,66.0,9042,1,1,0,0,3,...,2500,5,2010,8,4,266500,0,4,4,3
1458,1459,20,3,68.0,9717,1,1,0,0,3,...,0,4,2010,8,4,142125,0,0,0,3
1459,1460,20,3,75.0,9937,1,1,0,0,3,...,0,6,2008,8,4,147500,0,0,0,3

In [277]:
df.drop(columns=["Id","YrSold","GarageYrBlt"],axis=1,inplace=True)

In [278]:
df

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley_1,Alley_2,Alley_3,LotShape,LandContour,...,MiscFeature_4,MiscVal,MoSold,SaleType,SaleCondition,SalePrice,PoolQC_encoded,Fence_encoded,Fireplacequ_encoded,G_encoded
0,60,3,65.0,8450,1,1,0,0,3,3,...,0,0,2,8,4,208500,0,0,0,3
1,20,3,80.0,9600,1,1,0,0,3,3,...,0,0,5,8,4,181500,0,0,3,3
2,60,3,68.0,11250,1,1,0,0,0,3,...,0,0,9,8,4,223500,0,0,3,3
3,70,3,60.0,9550,1,1,0,0,0,3,...,0,0,2,8,0,140000,0,0,4,3
4,60,3,84.0,14260,1,1,0,0,0,3,...,0,0,12,8,4,250000,0,0,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,60,3,62.0,7917,1,1,0,0,3,3,...,0,0,8,8,4,175000,0,0,3,3
1456,20,3,85.0,13175,1,1,0,0,3,3,...,0,0,2,8,4,210000,0,3,3,3
1457,70,3,66.0,9042,1,1,0,0,3,3,...,0,2500,5,8,4,266500,0,4,4,3
1458,20,3,68.0,9717,1,1,0,0,3,3,...,0,0,4,8,4,142125,0,0,0,3
1459,20,3,75.0,9937,1,1,0,0,3,3,...,0,0,6,8,4,147500,0,0,0,3

In [280]:
x=df.drop("SalePrice",axis=1)

y=df["SalePrice"]

In [281]:
from sklearn.model_selection import train_test_split

In [282]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.2, random_state=100)

In [284]:
from sklearn.linear_model import LinearRegression

In [285]:
l_r = LinearRegression()

In [287]:
l_r.fit(x_train, y_train)
y_pred = l_r.predict(x_test)

In [299]:
from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score

In [300]:
print("MAE = ", mean_absolute_error(y_test, y_pred))
print("MSE = ", mean_squared_error(y_test, y_pred))
print("RMSE = ", np.sqrt(mean_squared_error(y_test, y_pred)))
print("R Squared = ", r2_score(y_test, y_pred))

MAE =  21044.666296304866
MSE =  933869719.9807279
RMSE =  30559.282059314286
R Squared =  0.8547430981701702